################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Only4Test/obj
/Only4Test/.vs/Only4Test
